.film-detail {
    margin-top: 2rem !important;
    padding-left: 1rem !important;

    .poster {
        width: 100%;
    }

    h1 {
        margin: 0;
    }

    h2 {
        margin-bottom: 0;
    }

    h4 {
        margin-top: 0;
    }
}
