.film-card {

    .film-card--poster img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .MuiCardActionArea-root {
        max-height: 320px;
    }

    .film-card--info {
        padding: 0;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-image: linear-gradient(transparent , rgba(0, 0, 0, 1) );
        text-align: center;

        h2, h3 {
            color: white;
        }
    }

}