.film-detail {
    margin-top: 2rem !important;
    padding-left: 1rem !important;

    .success-pop-up {
        position: absolute;
        bottom: 20px;
        color: white;
        background-color: green;
        padding: 20px;
        left: 50%;
        border-radius: .5rem;
    }

    .poster {
        width: 100%;
    }

    h1 {
        margin: 0;
    }

    h2 {
        margin-bottom: 0;
    }

    h4 {
        margin-top: 0;
    }

    .new-watch {
        margin-bottom: 5rem;
    }
}
