$background: #232936;
$active: #40e0d0;
$disabled: #d5d5d5;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap');

$work: 'Work Sans', sans-serif;

$regular: 400;
$bold: 700;

* {
    font-family: $work;
}

a {
    text-decoration: none;
}

.success-pop-up, .fail-pop-up {
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: .5rem;
    z-index: 9999999;
    position: fixed;
    bottom: 40px;
    color: white;
}

.success-pop-up {
    background-color: green;
}

.fail-pop-up {
    background-color: red;
}